.home {
  background-color: #efeae2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.sidebar {
  flex: 0.6;
  border: 1px solid #e9edef;
  background-color: #ffffff;
}
.chat {
  flex: 2;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  height: 49px;
  padding: 10px;
  border-right: 1px solid #d1d7db;
  justify-content: space-between;
  color: #ddddf7;
}
.logo {
  font-weight: bold;
  font-size: 21px;
}
.user {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}
.user > span {
  margin-top: 13px;
  color: black;
  font-weight: bold;
  position: relative;
  right: 7px;
}
.user > img {
  background-color: #ddddf7;
  position: relative;
  right: 3px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.user > button {
  background-color: black;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
  width: 60px;
  margin-left: 49px;
  color: #ddddf7;
  font-size: 13px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.search {
  border-bottom: 1px solid #e9edef;
}
.searchform {
  padding: 10px;
}
.searchform > input {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 12px;
  outline: none;
}
.searchform > ::placeholder {
  color: black;
}
.userchat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  cursor: pointer;
  height: 50px;
  border-bottom: 1px solid #e9edef;
  line-height: 10px;
}
.userchat > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.userchat:hover {
  background-color: #f0f2f5;
}

.userChatinfo > span {
  position: relative;
  font-size: 13px;
  color: black;
  font-weight: 500;
}
.userChatinfo > p {
  position: relative;
  top: 6px;
  font-size: 13px;
  color: black;
}
.chatinfo {
  height: 50px;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
}
.chatimg > span {
  position: relative;
  bottom: 14px;
  left: 10px;
}
.chatimg > img {
  margin-top: 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
}
.chaticons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.messages {
  background-color: #efeae2;
  padding: 10px;
  height: calc(100% - 160px);
  /* overflow: scroll; */
}
.input {
  height: 40px;
  margin-top: 7px;
  background-color: #f0f2f5;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input > input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #ffffff;
  height: 25px;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  left: 6px;
  margin-left: 10px;
  color: #2f2d52;
  font-size: 18px;
}
.input::placeholder {
  color: #464647;
}
.send {
  display: flex;
  align-items: center;
  gap: 10px;
}
.AttachFileIcon {
  color: grey;
}
.send > button {
  border: none;
  position: relative;
  left: 10px;
  color: #464647;
  cursor: pointer;
  border-radius: 5px;
}
.message {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.owner {
  flex-direction: row-reverse;
}
.owner > p {
  background-color: #8da4f1;
  color: white;
  border-radius: 10px 0px 10px 10px;
}
.messageinfo {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}
.messageinfo > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.messgaecontent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messgaecontent > img {
  width: 50%;
}
.messgaecontent > p {
  background-color: black;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}
.messgaecontent {
  align-items: flex-end;
}
.SentimentVerySatisfiedIcon {
  color: #464647;
}
.AttachFileIcon {
  color: #464647;
  position: relative;
  left: 7px;
}
